/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
display: none;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a:focus {
    outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

/* VARIABLES */
:root {
  --bleuCH: #006599;
  --jauneCH: #DBA233;
  --vertCH: #54984A;
  --gris: #4F4F4F;
  --background: #FFF;
  --menuHeight: 145px;
}

/* HEADER LAYOUT */ /* MOBILE*/
.header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100vw;
  height: 110px;
  background: transparent;
  overflow: hidden;
  transition: height ease-out 300ms;
  min-width: 330px;
}
.header.open {
  height: calc(110px + var(--menuHeight));
}
.header .top {
  background: var(--background);
  height: 110px;
  display: grid;
  grid-template-columns: 20% 5% 60% 15%;
  grid-template-rows: 40% 30% 30%;
  grid-template-areas:
    "logo title title title"
    "logo . subtitle subtitle"
    "logo links links button"
}
.header .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: var(--menuHeight);
  background: var(--background);
  opacity: 1;
}

/* HEADER LOGO */ /* MOBILE*/
.header.index img,
.header.project img {
  min-width: 65px;
  max-width: 75px;
  grid-area: logo;
  place-self: end center;
}
.header.about img,
.header.references img,
.header.contact img,
.header.linkTree img,
.header.error404 img {
  width: 105px;
  min-width: 90px;
  max-height: 105px;
  grid-area: logo;
  place-self: end stretch;
}

/* HEADER TEXT  */ /* MOBILE*/
.header h1 {
  grid-area: title;
  font-family: Syncopate;
  text-transform: uppercase;
  font-size: 23px;
  align-self: end;
}
.header h2 {
  grid-area: subtitle;
  font-family: Syncopate;
  text-transform: uppercase;
  font-size: 18px;
  align-self: center;
}
.header h3 {
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 15px;
}
.header h3:last-child {
  padding-bottom: 15px;
}

/* HEADER LINKS */ /* MOBILE*/
.header a {
  text-decoration: none;
}
.header .links {
  grid-area: links;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .links .etsy-link {
  font-family: Times;
}
.header .about-link {
  display: none;
}

/* HEADER BUTTON */ /* MOBILE*/
.header .btn-menu {
  grid-area: button;
  background: transparent;
  border: 0px solid transparent;
  transform: rotate(180deg) scale(1.3) translateY(3px);
  transition: all linear 300ms;
}
.header .btn-menu.open {
  transform: rotate(360deg) scale(1.3) translateY(3px);
}

/* HEADER LINES */ /* MOBILE*/
.header .line1 {
  grid-area: 2/2/3/5;
  pointer-events: none;
}
.header .line2 {
  grid-area: 3/1/4/4;
  pointer-events: none;
}
.header.index .line1,
.header.index .line2,
.header.project .line1,
.header.project .line2 {
  border-bottom: 1px solid var(--bleuCH);
}
.header.about .line1,
.header.about .line2,
.header.references .line1,
.header.references .line2,
.header.contact .line1,
.header.contact .line2,
.header.linkTree .line1,
.header.linkTree .line2,
.header.error404 .line1,
.header.error404 .line2 {
  border-bottom: 1px solid var(--gris);
}

/* HEADER COLOR */ /* MOBILE*/
.header.index a,
.header.index .btn-menu,
.header.project a,
.header.project .btn-menu {
  color: var(--bleuCH);
}
.header.about a,
.header.about .btn-menu,
.header.references a,
.header.references .btn-menu,
.header.contact a,
.header.contact .btn-menu,
.header.linkTree a,
.header.linkTree .btn-menu,
.header.error404 a {
  color: var(--gris);
}


/* MAIN LAYOUT */ /* MOBILE*/
.main {
  position: relative;
  width: 100vw;
  height: auto;
  min-height: calc(100vh - 110px - 13px);
  background: var(--background);
}
.main.about {
  display: flex;
  flex-direction: column;
  min-width: 330px;
}
.main.about .hiThere {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.main.about .text1 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.main.about .title {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 0 15px;
}
.main.about .photography,
.main.about .radio {
  flex-direction: row-reverse;
  align-self: flex-start;
}
.main.about .title.music {
  width: 180px;
  border-bottom: 1px solid var(--bleuCH);
}
.main.about .title.photography {
  width: 320px;
  border-bottom: 1px solid var(--jauneCH);
}
.main.about .title.education {
  width: 260px;
  border-bottom: 1px solid var(--bleuCH);
}
.main.about .title.radio {
  width: 160px;
  border-bottom: 1px solid var(--vertCH);
}
.main.about .title.and {
  width: 170px;
  border-bottom: 1px solid var(--bleuCH);
}
.main.about .connect {
  font-family: raleway;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.main.about .text2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main.about .connect ul {
  margin-bottom: 30px;
  list-style-type: circle;
}
.main.about .family {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--bleuCH);
  background: var(--background);
}

.main.project {
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "titles"
    "photos"
    "descriptions"
    "credits"
    "shows"
    "videos"
}
.main.project .titles {
  grid-area: titles;
  background: var(--background);
}
.main.project .photos {
  grid-area: photos;
  background: var(--background);
  height: 180px;
  display: flex;
  /* justify-content: space-around; */
  overflow-y: scroll;
}
.main.project .descriptions {
  grid-area: descriptions;
  display: flex;
  flex-direction: column;
  background: var(--background);
}
.main.project .descriptions .long {
  display: none;
  flex-direction:column;
}
.main.project .credits {
  grid-area: credits;
  background: var(--background);
  margin-bottom: 20px;
  margin-top: 20px;
}
.main.project .shows {
  grid-area: shows;
  background: var(--background);
  display: flex;
  flex-direction: column;
}
.main.project .videos {
  grid-area: videos;
  position: relative;
  width: 90vw;
  padding-bottom: 56.25%;
  margin: 20px auto;
}
.main.project .shows .content {
  height: 62px;
  background: var(--background);
  margin: 3px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bleuCH);
}
.main.project .shows .content.more {
  display: none;
}
.main.project button {
  font-family: Raleway;
  font-size: 10px;
  width: 90px;
  align-self: flex-end;
  color: var(--bleuCH);
  background: none;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}
#btn-description i {
  transform: rotate(180deg) translateY(1px);
  margin-left: 2px;
}
#btn-description i.open {
  transform: rotate(0deg) translateY(2px);
}
#btn-show i {
  transform: rotate(180deg) translateY(1px);
  margin-left: 2px;
}
#btn-show i.open {
  transform: rotate(0deg) translateY(2px);
}


/* MAIN LINES */ /* MOBILE */
.main.about .line {
  border-left: 1px solid var(--gris);
  height: 40px;
  margin-left: 50%;
}
.main.about .text1 .line {
  display: none;
}
.main.about div:nth-of-type(2) {
  margin-left: 80%;
}
.main.about div:nth-of-type(4) {
  margin-left: 30%;
}
.main.about div:nth-of-type(6) {
  margin-left: 70%;
}
.main.about div:nth-of-type(8) {
  margin-left: 20%;
}
.main.about div:nth-of-type(10) {
  margin-left: 80%;
}

/* MAIN TEXT */ /* MOBILE */
.main.about h1 {
  text-align: center;
  font-family: Raleway;
  font-size: 35px;
  color: var(--gris);
  padding-top: 20px;
  padding-bottom: 20px;
}
.main.about h2 {
  font-family: syncopate;
  text-transform: uppercase;
  margin: 0 10px;
}
.main.about .music h2,
.main.about .education h2,
.main.about .and h2 {
  color: var(--bleuCH);
}
.main.about .photography h2 {
  color: var(--jauneCH);
}
.main.about .radio h2 {
  color: var(--vertCH);
}
.main.about h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--gris);
}
.main.about p {
  font-family: raleway;
  font-size: 14px;
  text-align: justify;
  margin: 10px 30px;
  color: var(--gris);
}
.main.about span {
  font-weight: 600;
}
.main.about .text1 p {
  text-align: center;
  margin: 0 50px;
}
.main.about .text2 {
align-items: center;
}
.main.about .text2 p {
  margin: 60px auto;
  text-align: center;
  line-height: 25px;
}
.main.about .connect a,
.main.about .connect a {
  text-decoration: none;
  color: var(--gris);
  font-weight: 600;
}
.main.about .connect li {
  padding-bottom: 5px;
  color: var(--gris);
}
.main.project h1 {
  font-family: Syncopate;
  font-size: 17px;
  font-weight: 600;
  text-tranform: uppercase;
  padding: 30px;
  color: var(--bleuCH);
}
.main.project h2 {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 20px 30px 40px;
  color: var(--bleuCH);
}
.main.project h3 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  padding-left: 10px;
  margin-bottom: 5px;
  border: 1px solid var(--bleuCH);
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  color: var(--bleuCH);
}
.main.project .descriptions p {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  padding: 20px 20px 0px 20px;
  text-indent: 20px;
  color: var(--bleuCH);
}
.main.project .credits p {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  color: var(--bleuCH);
}
.main.project .credits span {
  font-weight: 600;
}
.main.project .when {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  color: var(--bleuCH);
}
.main.project .where {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  color: var(--bleuCH);
}
.main.project .event {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  color: var(--bleuCH);
}
.main.project .city {
  font-family: Raleway;
  font-size: 10px;
  font-weight: 500;
  color: var(--bleuCH);
}
.main.project .content a {
  font-family: Raleway;
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
  color: var(--background);
  background-color: var(--bleuCH);
  border-radius: 6px;
  padding: 3px 5px;
  margin-right: 20px;
}




/* MAIN IMAGES */ /*MOBILE */
.main.about .portrait1 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 30px 0;
}
.main.about .title img {
  width: 40px;
}
.main.about .radio img {
  width: 20px;
  margin-bottom: 20px;
}
.main.about .and img {
  transform: translateY(6px);
}
.main.about .portrait2 {
  width: 200px;
  margin: 30px auto;
  border: 2px solid black;
  border-radius: 10px;
}
.main.about .text2 img {
  position: absolute;
  width: 180px;
  bottom: 0;
  right: 10%;
  pointer-events: none;
}
.main.about .family img {
  width: 40px;
  height: auto;
}
.main.about .family img:nth-child(1) {
  width: 55px;
  height: auto;
  transform: translateY(8px);
}
.main.about .family img:nth-child(2) {
  transform: translateY(7px) translateX(-5px);
}
.main.about .family img:nth-child(3) {
  transform:translateY(7px) translateX(-1px);
}
.main.project iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main.project img {
  border-radius: 20px;
  padding: 0px 10px;
}


/* FOOTER LAYOUT */ /* MOBILE*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 110px;
  width: 100vw;
  height: 13px;
  background: var(--background);
}
.footer .left {
  display: none;
}
.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER TEXT */ /* MOBILE*/
.footer i {
  transform: scale(0.35);
}
.footer p {
  font-family: raleway;
  font-size: 6px;
  padding-right: 3px;
}

/* FOOTER COLOR */ /* MOBILE*/
.footer.index i,
.footer.index p,
.footer.index a,
.footer.project i,
.footer.project p,
.footer.project a {
  color: var(--bleuCH);
}
.footer.about i,
.footer.about p,
.footer.about a,
.footer.references i,
.footer.references p,
.footer.references a,
.footer.contact i,
.footer.contact p,
.footer.contact a,
.footer.linkTree i,
.footer.linkTree p,
.footer.linkTree a,
.footer.error404 i,
.footer.error404 p,
.footer.error404 a {
  color: var(--gris);
}




/* Tablet Vertical Styles */

@media screen and (min-width: 720px) {

/* HEADER LAYOUT */ /* VERTICAL*/
  .header {
    height: 200px;
  }
  .header.open {
    height: calc(200px + var(--menuHeight));
  }
  .header .top {
    height: 200px;
  }
  .header .menu {
    height: var(--menuHeight);
  }

  /* HEADER LOGO */ /* VERTICAL*/
  .header.index img,
  .header.project img {
    min-width: 120px;
    max-width: 130px;
    place-self: end center;
  }
  .header.about img,
  .header.references img,
  .header.contact img,
  .header.linkTree img,
  .header.error404 img {
    width: 300px;
    min-width: 180px;
    max-height: 190px;
    place-self: end start;
  }

  /* HEADER TEXT */ /* VERTICAL*/
  .header h1 {
    font-size: 35px;
  }
  .header h2 {
    font-size: 26px;
  }
  .header h3 {
    font-size: 22px;
  }

  /* HEADER LINKS */ /* VERTICAL*/
  .header a {
    transform: scale(1.4);
  }

  /* HEADER BUTTON */ /* VERTICAL*/
  .header .btn-menu {
    transform: rotate(180deg) scale(1.5) translateY(3px);
    transition: all linear 300ms;
  }
  .header .btn-menu.open {
    transform: rotate(360deg) scale(1.5) translateY(3px);
  }



  /* MAIN LAYOUT */ /* VERTICAL */
  .main {
    min-height: calc(100vh - 200px - 18px);
  }
  .main.about .text1 {
    width: 500px;
  }
  .main.about .title.music {
    width: 280px;
  }
  .main.about .title.photography {
    width: 520px;
  }
  .main.about .title.education {
    width: 400px;
  }
  .main.about .title.radio {
    width: 250px;
  }
  .main.about .title.and {
    width: 270px;
  }
  .main.about .text2 p {
    margin: 90px auto;
  }

  /* MAIN TEXT */ /* VERTICAL */
  .main.about h1 {
    font-size: 50px;
  }
  .main.about h2 {
    font-size: 40px;
  }
  .main.about h3 {
    font-size: 30px;
  }
  .main.about p {
    font-size: 20px;
    margin: 20px 50px;
  }
  .main.about li {
    font-size: 20px;
  }
  .main.about .family {
    margin-bottom: 30px;
  }
  .main.about .text2 p {
    line-height: 35px;
  }


  /* MAIN IMAGE */ /* VERTICAL */
  .main.about .portrait1 {
    width: 300px;
    height: 300px;
  }
  .main.about .title.music img {
    width: 60px;
    margin-right: 5px;
  }
  .main.about .title.photography img {
    width: 70px;
    margin-left: 10px;
  }
  .main.about .title.education img {
    width: 60px;
    margin-right: 5px;
  }
  .main.about .title.radio img {
    width: 30px;
    margin-left: 5px;
  }
  .main.about .title.and img {
    width: 85px;
    transform: translateY(13px);
  }
  .main.about .text2 img {
    width: 220px;
  }
  .main.about .portrait2 {
    width: 280px;
  }
  .main.about .family img {
    width: 60px;
  }
  .main.about .family img:nth-child(1) {
    width: 80px;
    transform: translateY(12px);
  }

  /* MAIN LINES */ /* VERTICAL */
  .main.about .line {
    height: 60px;
    margin-top: 5px;
    margin-bottom: 15px;
  }


  /* FOOTER LAYOUT */ /* VERTICAL*/
  .footer {
    top: 200px;
    height: 18px;
  }

  /* FOOTER TEXT */ /* VERTICAL*/
  .footer i {
    transform: scale(0.4);
  }
  .footer p{
    font-size: 8px;
  }
}




/* Tablet Horizontal Styles */

@media screen and (min-width: 1024px) {

  /* HEADER LAYOUT */ /* HORIZONTAL */
  .mobile-only {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    height: auto;
    min-height: 50px;
    background: var(--background);
  }
  .header.open {
    height: auto;
  }
  .header .top {
    height: auto;
    display: flex;
  }
  .header .menu {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
    order: -1;
    justify-content: flex-start;
    align-self: flex-start;
    background: var(--background);
  }

/* HEADER TEXT */ /* HORIZONTAL */
  .header h3 {
    font-size: 18px;
    margin: 10px 0 0 20px;
    padding: 0;
    align-self: flex-start;
  }

  /* HEADER LINKS */ /* HORIZONTAL */
  .header .links {
    min-width: 365px;
    align-self: flex-start;
    margin: 10px 10px 0px 20px;
    transform: translateY(2px);
  }
  .header .links a {
    transform: scale(1.2);
  }
  .header .links .etsy-link {
    order: -1;
  }
  .header .top .links .about-link {
    display: flex;
    font-family: syncopate;
    text-transform: uppercase;
  }


  /* MAIN LAYOUT */ /* HORIZONTAL */
  .main {
    min-height: calc(100vh - 50px - 55px);
    margin-bottom: 75px;
  }
  .main.about {
    margin-top: 50px;
  }
  .main.about .hiThere {
    flex-direction: row;
    justify-content: center;
  }
  .main.about .text1 {
    align-items: center;
  }
  .main.about .text1 p {
    margin: 5px 50px;
  }
  .main.about .title.music {
    margin-right: 5%;
  }
  .main.about .title.photography {
    margin-left: 15%;
  }
  .main.about .title.education {
    margin-right: 10%;
  }
  .main.about .title.radio {
    margin-left: 25%;
  }
  .main.about .title.and {
    margin-right: 25%;
  }
  .main.about .connect {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto 20px auto;
  }
  .main.about .text2 {
    margin-right: 30px;
  }
  .main.about .family {
    width: 50%;
    align-self: flex-end;
    margin-bottom: 40px;
  }

  .main.project {
    grid-template-columns: 140px 3fr 2fr 1px;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 2.5vh;
    grid-template-areas:
      "photos photos photos photos"
      ". titles credits ."
      ". descriptions credits ."
      ". descriptions videos ."
      ". descriptions shows ."
  }
  .main.project .titles {
    grid-area: titles;
    background: #DBA233;
    height: calc(19.5vh - 21px);
  }
  .main.project .photos {
    grid-area: photos;
    background: #DC4A4A;
    height: calc(20vh - 21px);
  }
  .main.project .descriptions {
    grid-area: descriptions;
    background: #68B062;
    height: calc(55.5vh - 21px);
    overflow: scroll;
  }

  .main.project .credits {
    grid-area: credits;
    background: #C4C4C4;
    height: calc(24vh - 21px);
  }
  .main.project .shows {
    grid-area: shows;
    background: #69CCFF;
    height: calc(19.5vh - 21px);
  }
  .main.project .videos {
    grid-area: videos;
    background: #E650FF;
    height: calc(29vh - 21px);
  }


  /* MAIN LINES */ /* HORIZONTAL */
  .main.about .text1 .line {
    display: flex;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
  }
  .main.about .text1 div:nth-of-type(2) {
    height: 150px;
  }
  .main.about div:nth-of-type(2) {
    margin-left: 80%;
  }
  .main.about div:nth-of-type(4) {
    margin-left: 40%;
  }
  .main.about div:nth-of-type(6) {
    margin-left: 70%;
  }
  .main.about div:nth-of-type(8) {
    margin-left: 35%;
  }
  .main.about div:nth-of-type(10) {
    margin-left: 65%;
    margin-bottom: 0;
  }

  /* MAIN TEXT */ /* HORIZONTAL */
  .main.about h1 {
    transform: translateX(45%);
    padding: 0;
  }
  .main.about p {
    text-align: center;
  }
  .main.about p:nth-of-type(2) {
    align-self: flex-end;
    width: 60%;
    margin-right: 7%;
    text-indent: 5%;
  }
  .main.about p:nth-of-type(3) {
    align-self: flex-start;
    width: 80%;
    margin-left: 17%;
    text-indent: 5%;
  }
  .main.about p:nth-of-type(4) {
    align-self: flex-end;
    width: 67%;
    margin-right: 12%;
    text-indent: 5%;
  }
  .main.about p:nth-of-type(5) {
    align-self: flex-start;
    width: 53%;
    margin-left: 30%;
    text-indent: 5%;
  }
  .main.about p:nth-of-type(6) {
    align-self: flex-end;
    width: 35%;
    margin-right: 10%;
    text-indent: 5%;
  }

  .main.project .descriptions p {
    font-size: 30px;
  }

  /* MAIN IMAGE */ /* HORIZONTAL */
  .main.about .portrait2 {
    min-width: 280px;
    height:auto;
  }


  /* FOOTER LAYOUT */ /* HORIZONTAL */
  .footer {
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0px;
    height: 55px;
  }
  .footer .left {
    display: flex;
    justify-content;
    align-items: flex-end;
  }
  .footer img {
    transform: translateX(5px);
  }

  /* FOOTER LOGO */ /* HORIZONTAL */
  .footer.index img,
  .footer.project img {
    width: 140px;
  }
  .footer.about img,
  .footer.references img,
  .footer.contact img,
  .footer.linkTree img,
  .footer.error404 img {
    width: 140px;
  }

  /* FOOTER TEXT */ /* HORIZONTAL */
  .footer h1 {
    font-family: Syncopate;
    text-transform: uppercase;
    font-size: 25px;
  }
  .footer a {
    text-decoration: none;
  }
  .footer p {
    font-size: 8px;
  }
  .footer i {
    transform: scale(0.4);
  }
}




/* Desktop Styles */

@media screen and (min-width: 1200px) {

  /* HEADER TEXT */ /* DESKTOP */
  .header h3 {
    font-size: 22px;
  }


  /* MAIN LAYOUT*/ /* DESKTOP */
  .main {
    min-height: calc(100vh - 50px - 65px);
  }
  .main.about p:nth-child(2) {
    max-width: 70%;
    align-self: center;
    text-indent: 5%;
  }
  .main.about p:nth-of-type(3) {
    width: 65%;
  }

  .main.project {
    grid-template-columns: 140px 3fr 2fr 1px;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 3vh;
    grid-template-areas:
      "photos photos photos photos"
      ". titles credits ."
      ". descriptions credits ."
      ". descriptions videos ."
      ". descriptions shows ."
  }
  .main.project .titles {
    grid-area: titles;
    background: #DBA233;
    height: calc(18vh - 23px);
  }
  .main.project .photos {
    grid-area: photos;
    background: #DC4A4A;
    height: calc(21vh - 23px);
  }
  .main.project .descriptions {
    grid-area: descriptions;
    background: #68B062;
    height: calc(55vh - 23px);
    overflow: scroll;
  }

  .main.project .credits {
    grid-area: credits;
    background: #C4C4C4;
    height: calc(21vh - 23px);
  }
  .main.project .shows {
    grid-area: shows;
    background: #69CCFF;
    height: calc(20vh - 23px);
  }
  .main.project .videos {
    grid-area: videos;
    background: #E650FF;
    height: calc(29vh - 23px);
  }

/* MAIN LINES */ /* DESKTOP */
  .main.about div:nth-of-type(2) {
    margin-left: 85%;
  }
  .main.about div:nth-of-type(4) {
    margin-left: 30%;
  }
  .main.about div:nth-of-type(6) {
    margin-left: 75%;
  }


  /* FOOTER LAYOUT */ /* DESKTOP */
  .footer {
    height: 65px;
  }

  /* FOOTER LOGO */ /* DESKTOP */
  .footer.index img,
  .footer.project img {
    width: 160px;
  }
  .footer.about img,
  .footer.references img,
  .footer.contact img,
  .footer.linkTree img,
  .footer.error404 img {
    width: 140px;
  }

  /* FOOTER TEXT */ /* DESKTOP */
  .footer h1 {
    font-size: 30px;
  }
  .footer p {
    font-size: 9px;
  }
  .footer i {
    transform: scale(0.5);
  }
}
